n8n/workflows/03-crypto-trade-execution.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "everyDay",
        "hour": 9,
        "minute": 0
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "id": "node1"
    },
    {
      "parameters": {
        "url": "http://openclaw-gateway/api/v1/execute",
        "method": "POST",
        "bodyParameters": [
          {
            "name": "workflow_name",
            "value": "Crypto Trade Execution"
          },
          {
            "name": "agent",
            "value": "crypto_executor"
          }
        ]
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "id": "node2"
    },
    {
      "parameters": {
        "webhookUrl": "YOUR_DISCORD_WEBHOOK_URL_FOR_CRYPTO_TRADES",
        "text": "Workflow { { $json.workflow_name } } (Agent: { { $json.agent } }) completed successfully! Check logs for details."
      },
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.discordWebhook",
      "typeVersion": 1,
      "id": "node3"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "input": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Discord Webhook",
            "input": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "03-crypto-trade-execution",
  "name": "Crypto Trade Execution",
  "active": false,
  "settings": {},
  "staticData": null,
  "meta": {
    "instanceId": "instance_03-crypto-trade-execution"
  }
}